.App {
    text-align: center;
}
.q-top-buffer {
    margin-top: 20px;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    display: grid;
    max-width: 425px !important;
}
