.App {
    text-align: center;
}
.q-top-buffer {
    margin-top: 20px;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    background: #73c2e0;
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
